<div class="content">
  <h1>
    Comment créer son équipe d’escape game ?
  </h1>
  <ol>
    <span>1</span>
    <li>
      <div class="content-collumn">
      <p>
        <b>Réserve une escape room</b> sur le site officiel de l’<b>escape game partenaire</b> de ton choix pour le <b>nombre exact de joueurs</b> que
        compte ton équipe actuellement. Suivants les escape rooms, ton équipe peux être composée <b>au minimum de 2 ou 3 joueurs</b>
        pour pouvoir réserver une partie d’escape game. Voir les escape games partenaires
      </p>
      </div>
    </li>
    <span>2</span>
    <li>
      <div class="content-collumn">
      <p>
        <b>Connecte-toi sur Escape Team UP</b> et rempli le formulaire de création d’équipe dans <b>Créer une équipe</b> puis choisi de le partager
        avec tes amis ou l’ensemble de notre communauté de joueurs d’escape game. Créer une équipe publique Ton annonce est
        mise en ligne, les membres de notre communauté réservent leurs places pour te rejoindre. Créer une équipe privée
        Tes contacts reçoivent un lien par mail pour réserver leurs places à l’unité.
      </p>
        <div class="row mr">
          <div class="col">
            <img class="over-btn-image" src="assets/img/unlock.svg">
            <a href="" routerLink="/teams/create/private">
              <button class="btn btn-primary">Créer une équipe publique</button>
            </a>
              <p>
                Ton annonce est mise en ligne, les membres de notre communauté peuvent réserver des places dans ton équipe.
              </p>
          </div>
          <div class="col">
            <img class="over-btn-image" src="assets/img/lock.svg">
            <a href="" routerLink="/teams/create/public">
              <button class="btn btn-secondary">Créer une équipe publique</button>
            </a>
              <p>
                Tes contacts reçoivent un lien par mail leur permettant de réserver leurs places à l'untité.
              </p>
          </div>
        </div>
      </div>
    </li>

    <span>3</span>
    <li>
      <div class="content-collumn">
      <p>
        Le <b>jour J</b>, pas besoin de payer les places supplémentaires, <b>tout est déjà réglé</b>, les joueurs qui t’ont rejoins ont payé leurs
        places sur notre site et l’Escape Game qui vous reçoit sait que vous êtes plus nombreux que prévu.
      </p>
      </div>
    </li>


    <span>4</span>
    <li>
      <div class="content-collumn">
      <p>
        Après la partie, les <b>économies réalisées grâce au tarif de groupe </b>dont a bénéficié ton équipe sont réparties entre toi et
        tes coéquipiers de façon à ce que chacun ait finalement payé autant. Chacun reçoit ses économies dans sa cagnotte
        de membre.
      </p>
      </div>
    </li>

  </ol>
</div>
