<div class="content">
  <h1>
    Comment rejoindre une équipe ?
  </h1>
  <ol>
    <li>
      <h2>Comment choisir son équipe d’escape game ?</h2>
      <p>
        Avoir envie de faire un escape game mais n’avoir personne avec qui faire équipe n’est plus un problème. Les membres de notre
        communauté publient des annonces sur notre site pour compléter leurs équipes. Les annonces indiquent la date, l’heure,
        le lieu, le nom de l’escape room qu’ils ont réservé, le niveau de difficulté du jeu et le nombre de places disponibles
        dans leurs équipes. Pour les rejoindre, il suffit de réserver sa place sur notre site et de se donner-rendez-vous
        le jour J dans l’escape room. Voici quelques conseils pour t’aider à bien choisir ton équipe d’escape game
    </li>
    <li>
      <h2>Choisis une mission qui te stimules</h2>
      <p>
        Le niveau de difficulté du jeu est un paramètre important à prendre en compte dans le choix de son escape game. Certaines
        escape rooms donnent davantage de fil à retordre que d’autres. Elles sont prévues ainsi par les game designers qui
        les conçoivent. Cela permet de progresser pour se confronter à des énigmes de plus en plus difficiles. Le niveau
        de difficulté des escape rooms est précisé sur les annonces des équipes. Mieux vaut choisir un niveau adapté, débutants
        pour les trois premières fois, intermédiaire pour les suivantes puis expert à partir d’une dizaine d’expériences
        d’escape game.
    </li>
    <li>
      <h2>Choisis un niveau de difficulté adapté</h2>
      <p>
        Le niveau de difficulté du jeu est un paramètre important à prendre en compte dans le choix de son escape game. Certaines
        escape rooms donnent davantage de fil à retordre que d’autres. Elles sont prévues ainsi par les game designers qui
        les conçoivent. Cela permet de progresser pour se confronter à des énigmes de plus en plus difficiles. Le niveau
        de difficulté des escape rooms est précisé sur les annonces des équipes. Mieux vaut choisir un niveau adapté, débutants
        pour les trois premières fois, intermédiaire pour les suivantes puis expert à partir d’une dizaine d’expériences
        d’escape game.
      </p>
    </li>

    <li>
      <h2>Choisis tes coéquipiers</h2>
      <p>
        Certains joueurs ont à cœur de constituer une équipe d’experts pour partir à l’assaut d’une escape room très corsée. Nous
        leur recommandons de le préciser dans la présentation de leur équipe qui apparaît dans l’annonce. Autant éviter d’arriver
        en touriste dans une équipe déterminée à battre un record. Si ce n’est pas précisé c’est que l’équipe est ouverte
        aux joueurs de tout niveau. Bien choisir son équipe d’escape game est primordial pour assurer une expérience de jeu
        optimale. Choisis une équipe qui te correspond dans une escape room à ton niveau avec une mission qui te stimule.
      </p>
    </li>
    <button class="btn btn-secondary btn-sm" routerLink="/teams">Rejoins une team</button>


  </ol>
</div>
