<footer class="page-footer font-small blue pt-4 mt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row p-4">

      <div class="col-md-4 mt-md-0 mt-3 text-center">
        <h5 class="text-uppercase">à propos</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a href="#" routerLink="/about_escapes">Qu'est-ce qu'un escape game ? </a>
          </li>
          <li>
            <a href="#" routerLink="/about_create">Comment créer une équipe ?</a>
          </li>
          <li>
            <a href="#" routerLink="/about_join">Comment rejoindre une équipe ?</a>
          </li>
          <li>
            <a href="#" routerLink="/terms">Mentions Légales, CGVU</a>
          </li>
          <li>
            <a href="#" routerLink="/FAQ">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-md-0 mt-3 text-center">
        <h5 class="text-uppercase">actu</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/EscapeTeamUP/" router>Facebook </a>
          </li>
          <li>
            <a href="https://www.facebook.com/EscapeTeamUP/" router>Blog (comming)</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-md-0 mt-3 text-center">
        <h5 class="text-uppercase">contact</h5>
        <br>
        <ul class="list-unstyled">
          <li>
             <a href="mailto:contact@escapeteamup.com">contact@escapeteamup.com</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
