<div class="auth-content background-login">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading">Mot de passe oublié</h3>
      <br>
      <alert></alert>
    </div>
  </div>
  <div class="col-sm-10 offset-sm-1 text-center">
    <form class="form justify-content-center" #loginForm="ngForm" [formGroup]="form.getForm()" (ngSubmit)="recoverPassword(loginForm.value)">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
        <div *ngIf="form.hasError('email')" class="alert alert-danger">
          {{form.getError('email')}}
        </div>
        <a routerLink="/login" class="text-primary float-left">Login</a>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Récupérer</button>
    </form>
  </div>
</div>
