.icon{
  float: left;
  width: 40px;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
}

.media{
  min-height: 60px;
  min-width: 50%
}

.smalltext{
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.titre{
  margin: 20px 0;
  margin-left: -15px;
}

.line{
  height: 60px;
}
